[class*='ant-']::-ms-clear,
[class^='ant-']::-ms-clear {
	display: none;
}
body,
html {
	width: 100%;
	height: 100%;
}
*,
:after,
:before {
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}
body {
	margin: 0;
	color: rgba(0, 0, 0, 0.85);
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	font-variant: tabular-nums;
	line-height: 1.5715;
	background-color: #fff;
	font-feature-settings: 'tnum', 'tnum';
}
[tabindex='-1']:focus {
	outline: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5em;
	color: rgba(0, 0, 0, 0.85);
	font-weight: 500;
}
p {
	margin-top: 0;
	margin-bottom: 1em;
}
ul {
	margin-top: 0;
	margin-bottom: 1em;
}
ul ul {
	margin-bottom: 0;
}
b {
	font-weight: bolder;
}
a {
	color: #1890ff;
	text-decoration: none;
	background-color: transparent;
	outline: 0;
	cursor: pointer;
	transition: color 0.3s;
	-webkit-text-decoration-skip: objects;
}
a:hover {
	color: #40a9ff;
}
a:active {
	color: #096dd9;
}
a:active,
a:focus,
a:hover {
	text-decoration: none;
	outline: 0;
}
a[disabled] {
	color: rgba(0, 0, 0, 0.25);
	cursor: not-allowed;
}
img {
	vertical-align: middle;
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
[role='button'],
a,
button,
label {
	touch-action: manipulation;
}
button {
	margin: 0;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}
button {
	overflow: visible;
}
button {
	text-transform: none;
}
[type='reset'],
[type='submit'],
button,
html [type='button'] {
	-webkit-appearance: button;
}
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}
[type='search'] {
	outline-offset: -2px;
	-webkit-appearance: none;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}
[hidden] {
	display: none !important;
}
::-moz-selection {
	color: #fff;
	background: #1890ff;
}
::selection {
	color: #fff;
	background: #1890ff;
}
.anticon {
	display: inline-block;
	color: inherit;
	font-style: normal;
	line-height: 0;
	text-align: center;
	text-transform: none;
	vertical-align: -0.125em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.anticon > * {
	line-height: 1;
}
.anticon svg {
	display: inline-block;
}
.anticon:before {
	display: none;
}
.anticon .anticon-icon {
	display: block;
}
.anticon[tabindex] {
	cursor: pointer;
}
.anticon-spin,
.anticon-spin:before {
	display: inline-block;
	-webkit-animation: loadingCircle 1s linear infinite;
	animation: loadingCircle 1s linear infinite;
}
@-webkit-keyframes antFadeIn {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes antFadeIn {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes antFadeOut {
	0% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes antFadeOut {
	0% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-webkit-keyframes antMoveDownIn {
	0% {
		transform: translateY(100%);
		transform-origin: 0 0;
		opacity: 0;
	}
	to {
		transform: translateY(0);
		transform-origin: 0 0;
		opacity: 1;
	}
}
@keyframes antMoveDownIn {
	0% {
		transform: translateY(100%);
		transform-origin: 0 0;
		opacity: 0;
	}
	to {
		transform: translateY(0);
		transform-origin: 0 0;
		opacity: 1;
	}
}
@-webkit-keyframes antMoveDownOut {
	0% {
		transform: translateY(0);
		transform-origin: 0 0;
		opacity: 1;
	}
	to {
		transform: translateY(100%);
		transform-origin: 0 0;
		opacity: 0;
	}
}
@keyframes antMoveDownOut {
	0% {
		transform: translateY(0);
		transform-origin: 0 0;
		opacity: 1;
	}
	to {
		transform: translateY(100%);
		transform-origin: 0 0;
		opacity: 0;
	}
}
@-webkit-keyframes antMoveLeftIn {
	0% {
		transform: translateX(-100%);
		transform-origin: 0 0;
		opacity: 0;
	}
	to {
		transform: translateX(0);
		transform-origin: 0 0;
		opacity: 1;
	}
}
@keyframes antMoveLeftIn {
	0% {
		transform: translateX(-100%);
		transform-origin: 0 0;
		opacity: 0;
	}
	to {
		transform: translateX(0);
		transform-origin: 0 0;
		opacity: 1;
	}
}
@-webkit-keyframes antMoveLeftOut {
	0% {
		transform: translateX(0);
		transform-origin: 0 0;
		opacity: 1;
	}
	to {
		transform: translateX(-100%);
		transform-origin: 0 0;
		opacity: 0;
	}
}
@keyframes antMoveLeftOut {
	0% {
		transform: translateX(0);
		transform-origin: 0 0;
		opacity: 1;
	}
	to {
		transform: translateX(-100%);
		transform-origin: 0 0;
		opacity: 0;
	}
}
@-webkit-keyframes antMoveRightIn {
	0% {
		transform: translateX(100%);
		transform-origin: 0 0;
		opacity: 0;
	}
	to {
		transform: translateX(0);
		transform-origin: 0 0;
		opacity: 1;
	}
}
@keyframes antMoveRightIn {
	0% {
		transform: translateX(100%);
		transform-origin: 0 0;
		opacity: 0;
	}
	to {
		transform: translateX(0);
		transform-origin: 0 0;
		opacity: 1;
	}
}
@-webkit-keyframes antMoveRightOut {
	0% {
		transform: translateX(0);
		transform-origin: 0 0;
		opacity: 1;
	}
	to {
		transform: translateX(100%);
		transform-origin: 0 0;
		opacity: 0;
	}
}
@keyframes antMoveRightOut {
	0% {
		transform: translateX(0);
		transform-origin: 0 0;
		opacity: 1;
	}
	to {
		transform: translateX(100%);
		transform-origin: 0 0;
		opacity: 0;
	}
}
@-webkit-keyframes antMoveUpIn {
	0% {
		transform: translateY(-100%);
		transform-origin: 0 0;
		opacity: 0;
	}
	to {
		transform: translateY(0);
		transform-origin: 0 0;
		opacity: 1;
	}
}
@keyframes antMoveUpIn {
	0% {
		transform: translateY(-100%);
		transform-origin: 0 0;
		opacity: 0;
	}
	to {
		transform: translateY(0);
		transform-origin: 0 0;
		opacity: 1;
	}
}
@-webkit-keyframes antMoveUpOut {
	0% {
		transform: translateY(0);
		transform-origin: 0 0;
		opacity: 1;
	}
	to {
		transform: translateY(-100%);
		transform-origin: 0 0;
		opacity: 0;
	}
}
@keyframes antMoveUpOut {
	0% {
		transform: translateY(0);
		transform-origin: 0 0;
		opacity: 1;
	}
	to {
		transform: translateY(-100%);
		transform-origin: 0 0;
		opacity: 0;
	}
}
@-webkit-keyframes loadingCircle {
	to {
		transform: rotate(1turn);
	}
}
@keyframes loadingCircle {
	to {
		transform: rotate(1turn);
	}
}
[ant-click-animating-without-extra-node='true'],
[ant-click-animating='true'] {
	position: relative;
}
html {
	--antd-wave-shadow-color: #1890ff;
	--scroll-bar: 0;
}
[ant-click-animating-without-extra-node='true']:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	border-radius: inherit;
	box-shadow: 0 0 0 0 #1890ff;
	box-shadow: 0 0 0 0 var(--antd-wave-shadow-color);
	opacity: 0.2;
	-webkit-animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1),
		waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
	animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1),
		waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	content: '';
	pointer-events: none;
}
@-webkit-keyframes waveEffect {
	to {
		box-shadow: 0 0 0 #1890ff;
		box-shadow: 0 0 0 6px #1890ff;
		box-shadow: 0 0 0 6px var(--antd-wave-shadow-color);
	}
}
@keyframes waveEffect {
	to {
		box-shadow: 0 0 0 #1890ff;
		box-shadow: 0 0 0 6px #1890ff;
		box-shadow: 0 0 0 6px var(--antd-wave-shadow-color);
	}
}
@-webkit-keyframes fadeEffect {
	to {
		opacity: 0;
	}
}
@keyframes fadeEffect {
	to {
		opacity: 0;
	}
}
@-webkit-keyframes antSlideUpIn {
	0% {
		transform: scaleY(0.8);
		transform-origin: 0 0;
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		transform-origin: 0 0;
		opacity: 1;
	}
}
@keyframes antSlideUpIn {
	0% {
		transform: scaleY(0.8);
		transform-origin: 0 0;
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		transform-origin: 0 0;
		opacity: 1;
	}
}
@-webkit-keyframes antSlideUpOut {
	0% {
		transform: scaleY(1);
		transform-origin: 0 0;
		opacity: 1;
	}
	to {
		transform: scaleY(0.8);
		transform-origin: 0 0;
		opacity: 0;
	}
}
@keyframes antSlideUpOut {
	0% {
		transform: scaleY(1);
		transform-origin: 0 0;
		opacity: 1;
	}
	to {
		transform: scaleY(0.8);
		transform-origin: 0 0;
		opacity: 0;
	}
}
@-webkit-keyframes antSlideDownIn {
	0% {
		transform: scaleY(0.8);
		transform-origin: 100% 100%;
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		transform-origin: 100% 100%;
		opacity: 1;
	}
}
@keyframes antSlideDownIn {
	0% {
		transform: scaleY(0.8);
		transform-origin: 100% 100%;
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		transform-origin: 100% 100%;
		opacity: 1;
	}
}
@-webkit-keyframes antSlideDownOut {
	0% {
		transform: scaleY(1);
		transform-origin: 100% 100%;
		opacity: 1;
	}
	to {
		transform: scaleY(0.8);
		transform-origin: 100% 100%;
		opacity: 0;
	}
}
@keyframes antSlideDownOut {
	0% {
		transform: scaleY(1);
		transform-origin: 100% 100%;
		opacity: 1;
	}
	to {
		transform: scaleY(0.8);
		transform-origin: 100% 100%;
		opacity: 0;
	}
}
@-webkit-keyframes antSlideLeftIn {
	0% {
		transform: scaleX(0.8);
		transform-origin: 0 0;
		opacity: 0;
	}
	to {
		transform: scaleX(1);
		transform-origin: 0 0;
		opacity: 1;
	}
}
@keyframes antSlideLeftIn {
	0% {
		transform: scaleX(0.8);
		transform-origin: 0 0;
		opacity: 0;
	}
	to {
		transform: scaleX(1);
		transform-origin: 0 0;
		opacity: 1;
	}
}
@-webkit-keyframes antSlideLeftOut {
	0% {
		transform: scaleX(1);
		transform-origin: 0 0;
		opacity: 1;
	}
	to {
		transform: scaleX(0.8);
		transform-origin: 0 0;
		opacity: 0;
	}
}
@keyframes antSlideLeftOut {
	0% {
		transform: scaleX(1);
		transform-origin: 0 0;
		opacity: 1;
	}
	to {
		transform: scaleX(0.8);
		transform-origin: 0 0;
		opacity: 0;
	}
}
@-webkit-keyframes antSlideRightIn {
	0% {
		transform: scaleX(0.8);
		transform-origin: 100% 0;
		opacity: 0;
	}
	to {
		transform: scaleX(1);
		transform-origin: 100% 0;
		opacity: 1;
	}
}
@keyframes antSlideRightIn {
	0% {
		transform: scaleX(0.8);
		transform-origin: 100% 0;
		opacity: 0;
	}
	to {
		transform: scaleX(1);
		transform-origin: 100% 0;
		opacity: 1;
	}
}
@-webkit-keyframes antSlideRightOut {
	0% {
		transform: scaleX(1);
		transform-origin: 100% 0;
		opacity: 1;
	}
	to {
		transform: scaleX(0.8);
		transform-origin: 100% 0;
		opacity: 0;
	}
}
@keyframes antSlideRightOut {
	0% {
		transform: scaleX(1);
		transform-origin: 100% 0;
		opacity: 1;
	}
	to {
		transform: scaleX(0.8);
		transform-origin: 100% 0;
		opacity: 0;
	}
}
@-webkit-keyframes antZoomIn {
	0% {
		transform: scale(0.2);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes antZoomIn {
	0% {
		transform: scale(0.2);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes antZoomOut {
	0% {
		transform: scale(1);
	}
	to {
		transform: scale(0.2);
		opacity: 0;
	}
}
@keyframes antZoomOut {
	0% {
		transform: scale(1);
	}
	to {
		transform: scale(0.2);
		opacity: 0;
	}
}
@-webkit-keyframes antZoomBigIn {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes antZoomBigIn {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes antZoomBigOut {
	0% {
		transform: scale(1);
	}
	to {
		transform: scale(0.8);
		opacity: 0;
	}
}
@keyframes antZoomBigOut {
	0% {
		transform: scale(1);
	}
	to {
		transform: scale(0.8);
		opacity: 0;
	}
}
@-webkit-keyframes antZoomUpIn {
	0% {
		transform: scale(0.8);
		transform-origin: 50% 0;
		opacity: 0;
	}
	to {
		transform: scale(1);
		transform-origin: 50% 0;
	}
}
@keyframes antZoomUpIn {
	0% {
		transform: scale(0.8);
		transform-origin: 50% 0;
		opacity: 0;
	}
	to {
		transform: scale(1);
		transform-origin: 50% 0;
	}
}
@-webkit-keyframes antZoomUpOut {
	0% {
		transform: scale(1);
		transform-origin: 50% 0;
	}
	to {
		transform: scale(0.8);
		transform-origin: 50% 0;
		opacity: 0;
	}
}
@keyframes antZoomUpOut {
	0% {
		transform: scale(1);
		transform-origin: 50% 0;
	}
	to {
		transform: scale(0.8);
		transform-origin: 50% 0;
		opacity: 0;
	}
}
@-webkit-keyframes antZoomLeftIn {
	0% {
		transform: scale(0.8);
		transform-origin: 0 50%;
		opacity: 0;
	}
	to {
		transform: scale(1);
		transform-origin: 0 50%;
	}
}
@keyframes antZoomLeftIn {
	0% {
		transform: scale(0.8);
		transform-origin: 0 50%;
		opacity: 0;
	}
	to {
		transform: scale(1);
		transform-origin: 0 50%;
	}
}
@-webkit-keyframes antZoomLeftOut {
	0% {
		transform: scale(1);
		transform-origin: 0 50%;
	}
	to {
		transform: scale(0.8);
		transform-origin: 0 50%;
		opacity: 0;
	}
}
@keyframes antZoomLeftOut {
	0% {
		transform: scale(1);
		transform-origin: 0 50%;
	}
	to {
		transform: scale(0.8);
		transform-origin: 0 50%;
		opacity: 0;
	}
}
@-webkit-keyframes antZoomRightIn {
	0% {
		transform: scale(0.8);
		transform-origin: 100% 50%;
		opacity: 0;
	}
	to {
		transform: scale(1);
		transform-origin: 100% 50%;
	}
}
@keyframes antZoomRightIn {
	0% {
		transform: scale(0.8);
		transform-origin: 100% 50%;
		opacity: 0;
	}
	to {
		transform: scale(1);
		transform-origin: 100% 50%;
	}
}
@-webkit-keyframes antZoomRightOut {
	0% {
		transform: scale(1);
		transform-origin: 100% 50%;
	}
	to {
		transform: scale(0.8);
		transform-origin: 100% 50%;
		opacity: 0;
	}
}
@keyframes antZoomRightOut {
	0% {
		transform: scale(1);
		transform-origin: 100% 50%;
	}
	to {
		transform: scale(0.8);
		transform-origin: 100% 50%;
		opacity: 0;
	}
}
@-webkit-keyframes antZoomDownIn {
	0% {
		transform: scale(0.8);
		transform-origin: 50% 100%;
		opacity: 0;
	}
	to {
		transform: scale(1);
		transform-origin: 50% 100%;
	}
}
@keyframes antZoomDownIn {
	0% {
		transform: scale(0.8);
		transform-origin: 50% 100%;
		opacity: 0;
	}
	to {
		transform: scale(1);
		transform-origin: 50% 100%;
	}
}
@-webkit-keyframes antZoomDownOut {
	0% {
		transform: scale(1);
		transform-origin: 50% 100%;
	}
	to {
		transform: scale(0.8);
		transform-origin: 50% 100%;
		opacity: 0;
	}
}
@keyframes antZoomDownOut {
	0% {
		transform: scale(1);
		transform-origin: 50% 100%;
	}
	to {
		transform: scale(0.8);
		transform-origin: 50% 100%;
		opacity: 0;
	}
}
.ant-row {
	flex-flow: row wrap;
}
.ant-row,
.ant-row:after,
.ant-row:before {
	display: flex;
}
.ant-row-start {
	justify-content: flex-start;
}
.ant-row-center {
	justify-content: center;
}
.ant-row-space-between {
	justify-content: space-between;
}
.ant-row-top {
	align-items: flex-start;
}
.ant-row-middle {
	align-items: center;
}
.ant-row-bottom {
	align-items: flex-end;
}
.ant-btn {
	line-height: 1.5715;
	position: relative;
	display: inline-block;
	font-weight: 600;
	white-space: nowrap;
	text-align: center;
	background-image: none;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
	cursor: pointer;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: manipulation;
	height: 32px;
	padding: 4px 15px;
	font-size: 14px;
	border-radius: 7px;
	color: rgba(0, 0, 0, 0.85);
	background: #fff;
	border: 1px solid #d9d9d9;
}
.ant-btn > .anticon {
	line-height: 1;
}
.ant-btn,
.ant-btn:active,
.ant-btn:focus {
	outline: 0;
}
.ant-btn:not([disabled]):hover {
	text-decoration: none;
}
.ant-btn:not([disabled]):active {
	outline: 0;
	box-shadow: none;
}
.ant-btn[disabled] {
	cursor: not-allowed;
}
.ant-btn[disabled] > * {
	pointer-events: none;
}
.ant-btn > a:only-child {
	color: currentColor;
}
.ant-btn > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn:focus,
.ant-btn:hover {
	color: #40a9ff;
	background: #fff;
	border-color: #40a9ff;
}
.ant-btn:focus > a:only-child,
.ant-btn:hover > a:only-child {
	color: currentColor;
}
.ant-btn:focus > a:only-child:after,
.ant-btn:hover > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn:active {
	color: #096dd9;
	background: #fff;
	border-color: #096dd9;
}
.ant-btn:active > a:only-child {
	color: currentColor;
}
.ant-btn:active > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn[disabled],
.ant-btn[disabled]:active,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:hover {
	color: rgba(0, 0, 0, 0.25);
	background: #f5f5f5;
	border-color: #d9d9d9;
	text-shadow: none;
	box-shadow: none;
}
.ant-btn[disabled]:active > a:only-child,
.ant-btn[disabled]:focus > a:only-child,
.ant-btn[disabled]:hover > a:only-child,
.ant-btn[disabled] > a:only-child {
	color: currentColor;
}
.ant-btn[disabled]:active > a:only-child:after,
.ant-btn[disabled]:focus > a:only-child:after,
.ant-btn[disabled]:hover > a:only-child:after,
.ant-btn[disabled] > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn:active,
.ant-btn:focus,
.ant-btn:hover {
	text-decoration: none;
	background: #fff;
}
.ant-btn > span {
	display: inline-block;
}
.ant-btn-primary {
	color: #fff;
	background: #1890ff;
	border-color: #1890ff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.ant-btn-primary > a:only-child {
	color: currentColor;
}
.ant-btn-primary > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn-primary:focus,
.ant-btn-primary:hover {
	color: #fff;
	background: #40a9ff;
	border-color: #40a9ff;
}
.ant-btn-primary:focus > a:only-child,
.ant-btn-primary:hover > a:only-child {
	color: currentColor;
}
.ant-btn-primary:focus > a:only-child:after,
.ant-btn-primary:hover > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn-primary:active {
	color: #fff;
	background: #096dd9;
	border-color: #096dd9;
}
.ant-btn-primary:active > a:only-child {
	color: currentColor;
}
.ant-btn-primary:active > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:active,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:hover {
	color: rgba(0, 0, 0, 0.25);
	background: #f5f5f5;
	border-color: #d9d9d9;
	text-shadow: none;
	box-shadow: none;
}
.ant-btn-primary[disabled]:active > a:only-child,
.ant-btn-primary[disabled]:focus > a:only-child,
.ant-btn-primary[disabled]:hover > a:only-child,
.ant-btn-primary[disabled] > a:only-child {
	color: currentColor;
}
.ant-btn-primary[disabled]:active > a:only-child:after,
.ant-btn-primary[disabled]:focus > a:only-child:after,
.ant-btn-primary[disabled]:hover > a:only-child:after,
.ant-btn-primary[disabled] > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn-link {
	color: #1890ff;
	background: 0 0;
	border-color: transparent;
	box-shadow: none;
}
.ant-btn-link > a:only-child {
	color: currentColor;
}
.ant-btn-link > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn-link:focus,
.ant-btn-link:hover {
	color: #40a9ff;
	background: 0 0;
	border-color: #40a9ff;
}
.ant-btn-link:focus > a:only-child,
.ant-btn-link:hover > a:only-child {
	color: currentColor;
}
.ant-btn-link:focus > a:only-child:after,
.ant-btn-link:hover > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn-link:active {
	color: #096dd9;
	background: 0 0;
	border-color: #096dd9;
}
.ant-btn-link:active > a:only-child {
	color: currentColor;
}
.ant-btn-link:active > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn-link[disabled],
.ant-btn-link[disabled]:active,
.ant-btn-link[disabled]:focus,
.ant-btn-link[disabled]:hover {
	background: #f5f5f5;
	border-color: #d9d9d9;
}
.ant-btn-link:hover {
	background: 0 0;
}
.ant-btn-link:active,
.ant-btn-link:focus,
.ant-btn-link:hover {
	border-color: transparent;
}
.ant-btn-link[disabled],
.ant-btn-link[disabled]:active,
.ant-btn-link[disabled]:focus,
.ant-btn-link[disabled]:hover {
	color: rgba(0, 0, 0, 0.25);
	background: 0 0;
	border-color: transparent;
	text-shadow: none;
	box-shadow: none;
}
.ant-btn-link[disabled]:active > a:only-child,
.ant-btn-link[disabled]:focus > a:only-child,
.ant-btn-link[disabled]:hover > a:only-child,
.ant-btn-link[disabled] > a:only-child {
	color: currentColor;
}
.ant-btn-link[disabled]:active > a:only-child:after,
.ant-btn-link[disabled]:focus > a:only-child:after,
.ant-btn-link[disabled]:hover > a:only-child:after,
.ant-btn-link[disabled] > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn-text {
	color: rgba(0, 0, 0, 0.85);
	background: 0 0;
	border-color: transparent;
	box-shadow: none;
}
.ant-btn-text > a:only-child {
	color: currentColor;
}
.ant-btn-text > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn-text:focus,
.ant-btn-text:hover {
	color: #40a9ff;
	background: 0 0;
	border-color: #40a9ff;
}
.ant-btn-text:focus > a:only-child,
.ant-btn-text:hover > a:only-child {
	color: currentColor;
}
.ant-btn-text:focus > a:only-child:after,
.ant-btn-text:hover > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn-text:active {
	color: #096dd9;
	background: 0 0;
	border-color: #096dd9;
}
.ant-btn-text:active > a:only-child {
	color: currentColor;
}
.ant-btn-text:active > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn-text[disabled],
.ant-btn-text[disabled]:active,
.ant-btn-text[disabled]:focus,
.ant-btn-text[disabled]:hover {
	background: #f5f5f5;
	border-color: #d9d9d9;
}
.ant-btn-text:focus,
.ant-btn-text:hover {
	color: rgba(0, 0, 0, 0.85);
	background: rgba(0, 0, 0, 0.018);
	border-color: transparent;
}
.ant-btn-text:active {
	color: rgba(0, 0, 0, 0.85);
	background: rgba(0, 0, 0, 0.028);
	border-color: transparent;
}
.ant-btn-text[disabled],
.ant-btn-text[disabled]:active,
.ant-btn-text[disabled]:focus,
.ant-btn-text[disabled]:hover {
	color: rgba(0, 0, 0, 0.25);
	background: 0 0;
	border-color: transparent;
	text-shadow: none;
	box-shadow: none;
}
.ant-btn-text[disabled]:active > a:only-child,
.ant-btn-text[disabled]:focus > a:only-child,
.ant-btn-text[disabled]:hover > a:only-child,
.ant-btn-text[disabled] > a:only-child {
	color: currentColor;
}
.ant-btn-text[disabled]:active > a:only-child:after,
.ant-btn-text[disabled]:focus > a:only-child:after,
.ant-btn-text[disabled]:hover > a:only-child:after,
.ant-btn-text[disabled] > a:only-child:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: 0 0;
	content: '';
}
.ant-btn:before {
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	z-index: 1;
	display: none;
	background: #fff;
	border-radius: inherit;
	opacity: 0.35;
	transition: opacity 0.2s;
	content: '';
	pointer-events: none;
}
.ant-btn .anticon {
	transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-btn:active > span,
.ant-btn:focus > span {
	position: relative;
}
.ant-btn > .anticon + span,
.ant-btn > span + .anticon {
	margin-left: 8px;
}
.ant-btn-block {
	width: 100%;
}
.ant-btn:empty {
	display: inline-block;
	width: 0;
	visibility: hidden;
	content: '\a0';
}
a.ant-btn {
	padding-top: 0.01px !important;
	line-height: 30px;
}
@-webkit-keyframes antCheckboxEffect {
	0% {
		transform: scale(1);
		opacity: 0.5;
	}
	to {
		transform: scale(1.6);
		opacity: 0;
	}
}
@keyframes antCheckboxEffect {
	0% {
		transform: scale(1);
		opacity: 0.5;
	}
	to {
		transform: scale(1.6);
		opacity: 0;
	}
}
@-webkit-keyframes ant-progress-active {
	0% {
		width: 0;
		opacity: 0.1;
	}
	20% {
		width: 0;
		opacity: 0.5;
	}
	to {
		width: 100%;
		opacity: 0;
	}
}
@keyframes ant-progress-active {
	0% {
		width: 0;
		opacity: 0.1;
	}
	20% {
		width: 0;
		opacity: 0.5;
	}
	to {
		width: 100%;
		opacity: 0;
	}
}
@-webkit-keyframes NotificationFadeIn {
	0% {
		left: 384px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}
@keyframes NotificationFadeIn {
	0% {
		left: 384px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}
@-webkit-keyframes NotificationLeftFadeIn {
	0% {
		right: 384px;
		opacity: 0;
	}
	to {
		right: 0;
		opacity: 1;
	}
}
@keyframes NotificationLeftFadeIn {
	0% {
		right: 384px;
		opacity: 0;
	}
	to {
		right: 0;
		opacity: 1;
	}
}
@-webkit-keyframes NotificationFadeOut {
	0% {
		max-height: 150px;
		margin-bottom: 16px;
		opacity: 1;
	}
	to {
		max-height: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		opacity: 0;
	}
}
@keyframes NotificationFadeOut {
	0% {
		max-height: 150px;
		margin-bottom: 16px;
		opacity: 1;
	}
	to {
		max-height: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		opacity: 0;
	}
}
@-webkit-keyframes MessageMoveOut {
	0% {
		max-height: 150px;
		padding: 8px;
		opacity: 1;
	}
	to {
		max-height: 0;
		padding: 0;
		opacity: 0;
	}
}
@keyframes MessageMoveOut {
	0% {
		max-height: 150px;
		padding: 8px;
		opacity: 1;
	}
	to {
		max-height: 0;
		padding: 0;
		opacity: 0;
	}
}
:root {
	--font-size-h1: 48px;
	--font-size-h2: 40px;
	--font-size-h3: 32px;
	--font-size-h4: 28px;
	--font-size-h5: 25px;
	--font-size-h6: 20px;
	--font-size-body1: 18px;
	--font-size-body2: 16px;
	--font-size-body3: 14px;
	--font-size-body4: 13px;
	--font-size-small: 13px;
	--font-size-tiny: 10px;
	--font-size-h1-m: 40px;
	--font-size-h2-m: 32px;
	--font-size-h3-m: 28px;
	--font-size-h4-m: 25px;
	--font-size-h5-m: 20px;
	--font-size-h6-m: 19px;
	--font-size-body1-m: 16px;
	--font-size-body2-m: 14px;
	--font-size-body3-m: 13px;
	--font-size-body4-m: 10px;
	--font-size-small-m: 11px;
	--line-height-heading: 1.25;
	--line-height-body: 1.25;
	--G1-G1L: linear-gradient(160deg, #05e8fc 14.34%, #fe0291 85.36%);
	--G5-G1L: linear-gradient(165deg, #0480d3, #a3005c);
	--W1-L7: #2ea5e8;
	--W2-L7: #19cfdd;
	--W2-W1: #19cfdd;
	--W3-W1: #55eed0;
	--W2-G1: #19cfdd;
	--D1-L1: #000;
	--D1-L2: #000;
	--D1-L7: #000;
	--D2-L1: #040404;
	--D4-L1: #111117;
	--D4-L2: #111117;
	--D4-L3: #111117;
	--D4-L4: #111117;
	--D4-L5: #111117;
	--D4-L6: #111117;
	--D4-L9: #111117;
	--D5-L4: #14131c;
	--D5-L5: #14131c;
	--D6-L5: #676675;
	--D6-L6: #676675;
	--D6-L7: #676675;
	--D7-L7: #fff;
	--D8-L8: #676675;
	--D9-L9: #000;
	--D10-L10: #000;
	--D11-L6: #b3b3ba;
	--D11-L11: #fff;
	--D12-L12: #14131c;
	--D13-L13: #0c0c0f;
	--D14-L14: #111117;
	--D15-L15: #23212f;
	--D16-L16: #111117;
	--D17-L17: #676675;
	--D18-L18: #040404;
	--D19-L19: #fff;
	--D20-L20: #fff;
	--D21-L21: #676675;
}
@font-face {
	font-family: swiper-icons;
	src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA')
		format('woff');
	font-weight: 400;
	font-style: normal;
}
:root {
	--swiper-theme-color: #007aff;
}
.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.swiper-container-vertical > .swiper-wrapper {
	-webkit-flex-direction: column;
	flex-direction: column;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-flex;
	display: flex;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	box-sizing: content-box;
}
.swiper-wrapper {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.swiper-container-pointer-events {
	touch-action: pan-y;
}
.swiper-container-pointer-events.swiper-container-vertical {
	touch-action: pan-x;
}
.swiper-slide {
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}
.swiper-container-3d {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-wrapper {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.swiper-pagination {
	position: absolute;
	text-align: center;
	transition: opacity 0.3s;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
	opacity: 0;
}
.swiper-pagination-black {
	--swiper-pagination-color: #000;
}
:root {
	--swiper-navigation-size: 44px;
}
@-webkit-keyframes ant-skeleton-loading {
	0% {
		background-position: 100% 50%;
	}
	to {
		background-position: 0 50%;
	}
}
@keyframes ant-skeleton-loading {
	0% {
		background-position: 100% 50%;
	}
	to {
		background-position: 0 50%;
	}
}
@-webkit-keyframes ant-skeleton-loading-rtl {
	0% {
		background-position: 0 50%;
	}
	to {
		background-position: 100% 50%;
	}
}
@keyframes ant-skeleton-loading-rtl {
	0% {
		background-position: 0 50%;
	}
	to {
		background-position: 100% 50%;
	}
}
.ant-tabs-bottom,
.ant-tabs-top {
	flex-direction: column;
}
.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav,
.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav {
	margin: 0 0 16px;
}
.ant-tabs-bottom > .ant-tabs-nav:before,
.ant-tabs-bottom > div > .ant-tabs-nav:before,
.ant-tabs-top > .ant-tabs-nav:before,
.ant-tabs-top > div > .ant-tabs-nav:before {
	position: absolute;
	right: 0;
	left: 0;
	border-bottom: 1px solid #f0f0f0;
	content: '';
}
.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar {
	height: 2px;
}
.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-ink-bar-animated,
.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-ink-bar-animated,
.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar-animated,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar-animated {
	transition: width 0.3s, left 0.3s, right 0.3s;
}
.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-nav-wrap:before,
.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-nav-wrap:before,
.ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap:before,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-nav-wrap:before {
	top: 0;
	bottom: 0;
	width: 30px;
}
.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-nav-wrap:before,
.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-nav-wrap:before,
.ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap:before,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-nav-wrap:before {
	left: 0;
	box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
}
.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-nav-wrap:after {
	right: 0;
	box-shadow: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
}
.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-top > .ant-tabs-nav:before,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-top > div > .ant-tabs-nav:before {
	bottom: 0;
}
.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav {
	order: 1;
	margin-top: 16px;
	margin-bottom: 0;
}
.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-bottom > .ant-tabs-nav:before,
.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-bottom > div > .ant-tabs-nav:before {
	top: 0;
}
.ant-tabs-bottom > .ant-tabs-content-holder,
.ant-tabs-bottom > div > .ant-tabs-content-holder {
	order: 0;
}
.ant-tabs-left > .ant-tabs-nav,
.ant-tabs-left > div > .ant-tabs-nav,
.ant-tabs-right > .ant-tabs-nav,
.ant-tabs-right > div > .ant-tabs-nav {
	flex-direction: column;
	min-width: 50px;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab {
	padding: 8px 24px;
	text-align: center;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
	margin: 16px 0 0;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-nav-wrap {
	flex-direction: column;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-left > .ant-tabs-nav .ant-tabs-nav-wrap:before,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-nav-wrap:before,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-wrap:before,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-nav-wrap:before {
	right: 0;
	left: 0;
	height: 30px;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-nav-wrap:before,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-nav-wrap:before,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-wrap:before,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-nav-wrap:before {
	top: 0;
	box-shadow: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-nav-wrap:after {
	bottom: 0;
	box-shadow: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-ink-bar {
	width: 2px;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar-animated,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-ink-bar-animated,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-ink-bar-animated,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-ink-bar-animated {
	transition: height 0.3s, top 0.3s;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs-left > .ant-tabs-nav .ant-tabs-nav-operations,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-nav-operations,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-nav-operations,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-nav-operations {
	flex: 1 0 auto;
	flex-direction: column;
}
.ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-ink-bar {
	right: 0;
}
.ant-tabs-left > .ant-tabs-content-holder,
.ant-tabs-left > div > .ant-tabs-content-holder {
	margin-left: -1px;
	border-left: 1px solid #f0f0f0;
}
.ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane,
.ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
	padding-left: 24px;
}
.ant-tabs-right > .ant-tabs-nav,
.ant-tabs-right > div > .ant-tabs-nav {
	order: 1;
}
.ant-tabs-right > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-ink-bar {
	left: 0;
}
.ant-tabs-right > .ant-tabs-content-holder,
.ant-tabs-right > div > .ant-tabs-content-holder {
	order: 0;
	margin-right: -1px;
	border-right: 1px solid #f0f0f0;
}
.ant-tabs-right > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane,
.ant-tabs-right > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
	padding-right: 24px;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
	margin: 0;
	padding: 8px 16px;
	background: #fafafa;
	border: 1px solid #f0f0f0;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
	color: #1890ff;
	background: #fff;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-ink-bar {
	visibility: hidden;
}
.ant-tabs-card.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-card.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
	margin-left: 2px;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab {
	border-radius: 2px 2px 0 0;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
	border-bottom-color: #fff;
}
.ant-tabs-card.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-tab {
	border-radius: 0 0 2px 2px;
}
.ant-tabs-card.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-tab-active {
	border-top-color: #fff;
}
.ant-tabs-card.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-card.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-card.ant-tabs-right > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-card.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
	margin-top: 2px;
}
.ant-tabs-card.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab {
	border-radius: 2px 0 0 2px;
}
.ant-tabs-card.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab-active {
	border-right-color: #fff;
}
.ant-tabs-card.ant-tabs-right > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab {
	border-radius: 0 2px 2px 0;
}
.ant-tabs-card.ant-tabs-right > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab-active {
	border-left-color: #fff;
}
.ant-tabs {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.85);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5715;
	list-style: none;
	font-feature-settings: 'tnum', 'tnum';
	display: flex;
	overflow: hidden;
}
.ant-tabs > .ant-tabs-nav,
.ant-tabs > div > .ant-tabs-nav {
	position: relative;
	display: flex;
	flex: none;
	align-items: center;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
	position: relative;
	display: inline-block;
	display: flex;
	flex: auto;
	align-self: stretch;
	overflow: hidden;
	white-space: nowrap;
	transform: translate(0);
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap:before,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap:after,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap:before {
	position: absolute;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s;
	content: '';
	pointer-events: none;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
	position: relative;
	display: flex;
	transition: transform 0.3s;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-operations,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-operations {
	display: flex;
	align-self: stretch;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-operations-hidden,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-operations-hidden {
	position: absolute;
	visibility: hidden;
	pointer-events: none;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-more {
	position: relative;
	padding: 8px 16px;
	background: 0 0;
	border: 0;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more:after,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-more:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 5px;
	transform: translateY(100%);
	content: '';
}
.ant-tabs-extra-content {
	flex: none;
}
.ant-tabs-ink-bar {
	position: absolute;
	background: #1890ff;
	pointer-events: none;
}
.ant-tabs-tab {
	position: relative;
	display: inline-flex;
	align-items: center;
	padding: 12px 0;
	font-size: 14px;
	background: 0 0;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.ant-tabs-tab-btn:active,
.ant-tabs-tab-btn:focus {
	color: #096dd9;
}
.ant-tabs-tab-btn {
	outline: 0;
	transition: all 0.3s;
}
.ant-tabs-tab:hover {
	color: #40a9ff;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: #1890ff;
	text-shadow: 0 0 0.25px currentColor;
}
.ant-tabs-tab .anticon {
	margin-right: 12px;
}
.ant-tabs-tab + .ant-tabs-tab {
	margin: 0 0 0 32px;
}
.ant-tabs-content {
	display: flex;
	width: 100%;
}
.ant-tabs-content-holder {
	flex: auto;
	min-width: 0;
	min-height: 0;
}
.ant-tabs-content-animated {
	transition: margin 0.3s;
}
.ant-tabs-tabpane {
	flex: none;
	width: 100%;
	outline: 0;
}
@supports (-moz-appearance: meterbar) {
	.ant-select-single .ant-select-selector .ant-select-selection-item,
	.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
		line-height: 30px;
	}
}
.ant-collapse {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.85);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5715;
	list-style: none;
	font-feature-settings: 'tnum', 'tnum';
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	border-bottom: 0;
	border-radius: 2px;
}
.ant-collapse > .ant-collapse-item {
	border-bottom: 1px solid #d9d9d9;
}
.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
	border-radius: 0 0 2px 2px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
	position: relative;
	padding: 12px 16px;
	color: rgba(0, 0, 0, 0.85);
	line-height: 1.5715;
	cursor: pointer;
	transition: all 0.3s, visibility 0s;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header:before {
	display: table;
	content: '';
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header:after {
	display: table;
	clear: both;
	content: '';
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
	float: right;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header:focus {
	outline: 0;
}
.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
	padding: 12px 40px 12px 16px;
}
.ant-collapse-content {
	color: rgba(0, 0, 0, 0.85);
	background-color: #fff;
	border-top: 1px solid #d9d9d9;
}
.ant-collapse-content-hidden {
	display: none;
}
.ant-collapse-item:last-child > .ant-collapse-content {
	border-radius: 0 0 2px 2px;
}
@-webkit-keyframes antShowHelpIn {
	0% {
		transform: translateY(-5px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes antShowHelpIn {
	0% {
		transform: translateY(-5px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@-webkit-keyframes antShowHelpOut {
	to {
		transform: translateY(-5px);
		opacity: 0;
	}
}
@keyframes antShowHelpOut {
	to {
		transform: translateY(-5px);
		opacity: 0;
	}
}
@-webkit-keyframes diffZoomIn1 {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes diffZoomIn1 {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes diffZoomIn2 {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes diffZoomIn2 {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes diffZoomIn3 {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes diffZoomIn3 {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}
