.s_text__2O9ZL {
	font-weight: 400;
}
.s_text_numbers__2nPsT {
	font-family: RedHatDisplay, sans-serif;
}
.s_text__2O9ZL.s_weight-bold__7n-86 {
	font-weight: 700;
}
.s_text__2O9ZL.s_h3__2BUPD {
	font-size: 32px;
	font-size: var(--font-size-h3);
	line-height: 1.25;
	line-height: var(--line-height-heading);
}
@media (max-width: 992px) {
	.s_text__2O9ZL.s_h3__2BUPD {
		font-size: 28px;
		font-size: var(--font-size-h3-m);
	}
}
.s_text__2O9ZL.s_h6__TYu-o {
	font-size: 20px;
	font-size: var(--font-size-h6);
	line-height: 1.25;
	line-height: var(--line-height-heading);
}
@media (max-width: 992px) {
	.s_text__2O9ZL.s_h6__TYu-o {
		font-size: 19px;
		font-size: var(--font-size-h6-m);
	}
}
.s_text__2O9ZL.s_body1__1kjhf {
	font-size: 18px;
	font-size: var(--font-size-body1);
	line-height: 1.25;
	line-height: var(--line-height-body);
}
@media (max-width: 992px) {
	.s_text__2O9ZL.s_body1__1kjhf {
		font-size: 16px;
		font-size: var(--font-size-body1-m);
	}
}
.s_text__2O9ZL.s_body2__d8EpH {
	font-size: 16px;
	font-size: var(--font-size-body2);
	line-height: 1.25;
	line-height: var(--line-height-body);
}
@media (max-width: 992px) {
	.s_text__2O9ZL.s_body2__d8EpH {
		font-size: 14px;
		font-size: var(--font-size-body2-m);
	}
}
.s_text__2O9ZL.s_body3__3wlSS {
	font-size: 14px;
	font-size: var(--font-size-body3);
	line-height: 1.25;
	line-height: var(--line-height-body);
}
@media (max-width: 992px) {
	.s_text__2O9ZL.s_body3__3wlSS {
		font-size: 13px;
		font-size: var(--font-size-body3-m);
	}
}
.s_text__2O9ZL.s_primary-color__1S4LI {
	color: #fff;
	color: var(--D7-L7);
}
.s_text__2O9ZL.s_secondary-color__3RLrb {
	color: #676675;
	color: var(--D6-L7);
}
@-webkit-keyframes PageNotFound_flo__2J0GS {
	to {
		-webkit-transform: translateY(0) scale(1);
		transform: translateY(0) scale(1);
	}
}
@keyframes PageNotFound_flo__2J0GS {
	to {
		-webkit-transform: translateY(0) scale(1);
		transform: translateY(0) scale(1);
	}
}
@-webkit-keyframes PageNotFound_rotation__LnzSt {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes PageNotFound_rotation__LnzSt {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-webkit-keyframes InitializingWallet_rotate__zUhN- {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@keyframes InitializingWallet_rotate__zUhN- {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
.Wallet_wallet__btn__2Ueik {
	margin-left: 10px;
}
.Wallet_wallet__btn__2Ueik span {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.Wallet_wallet__btn__2Ueik img {
	margin-left: 12px;
	width: 30px;
}
@-webkit-keyframes Wallet_rotate__3m2xt {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@keyframes Wallet_rotate__3m2xt {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
.UserBar_userBar__11QVa {
	display: -webkit-flex;
	display: flex;
}
.Header_header__aCt89 {
	padding: 21px 0;
	background: #000;
	background: var(--D1-L2);
	border-bottom: 1px solid #14131c;
	border-bottom: 1px solid var(--D5-L5);
}
@media (max-width: 992px) {
	.Header_header__aCt89 {
		height: 60px;
		padding: 14px 0;
	}
	.Header_header__aCt89 {
		position: fixed;
		width: 100%;
		z-index: 100;
	}
}
@media (max-width: 992px) {
	.Header_header__logo__3iwFp svg {
		width: 124px;
		height: 32px;
	}
}
@media (max-width: 992px) {
	.Header_header__nav__2ub6P {
		position: absolute;
		width: 100%;
		background: #000;
		background: var(--D1-L1);
		top: 60px;
		left: 0;
		transition: opacity 0.2s linear 0.1s;
		opacity: 0;
		pointer-events: none;
		z-index: 2;
	}
}
.Header_header__nav__list__3OOx4 {
	display: -webkit-flex;
	display: flex;
}
@media (max-width: 992px) {
	.Header_header__nav__list__3OOx4 {
		display: grid;
	}
}
.Header_header__nav__link__2WlEQ {
	padding: 10px 0;
	margin: 0 17px;
	font-size: 16px;
	font-size: var(--font-size-body2);
	color: #676675;
	color: var(--D6-L6);
	font-weight: 600;
	position: relative;
}
@media (max-width: 992px) {
	.Header_header__nav__link__2WlEQ {
		border-bottom: 1px solid #000;
		border-bottom: 1px solid var(--D9-L9);
		font-weight: 400;
		display: block;
		padding: 16px 0;
		text-transform: uppercase;
		text-align: center;
		font-size: 18px;
		font-size: var(--font-size-body1);
	}
}
@media (max-width: 992px) {
	.Header_header__nav__link__item__3WAT7 {
		display: inline-block;
		transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		transition: transform 0.5s, -webkit-transform 0.5s;
		-webkit-transform: translateX(-100vw);
		transform: translateX(-100vw);
	}
}
.Header_header__nav__link__2WlEQ:hover {
	color: #fff;
	color: var(--D7-L7);
}
.Header_header__userBar__3NCvG {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
@media (max-width: 1200px) {
	.Header_header__userBar__3NCvG {
		padding-top: 12px;
		padding-bottom: 12px;
		position: fixed;
		bottom: 0;
		z-index: 33;
		left: 0;
		width: 100%;
		background-color: #000;
		background-color: var(--D1-L1);
		display: flex;
		grid-template-columns: 1fr auto;
		-webkit-align-items: center;
		align-items: center;
		box-shadow: 0 0 20px rgba(66, 65, 87, 0.07);
	}
}
.Header_nav_icon__1pfDU {
	width: 22px;
	padding: 0;
	background: 0 0;
	height: 18px;
	position: relative;
	z-index: 22;
	-webkit-transform: rotate(0);
	transform: rotate(0);
	transition: 0.5s ease-in-out;
	cursor: pointer;
	border: 0;
	line-height: normal;
}
@media (min-width: 992px) {
	.Header_nav_icon__1pfDU {
		display: none;
	}
}
.Header_nav_icon__1pfDU:active,
.Header_nav_icon__1pfDU:focus,
.Header_nav_icon__1pfDU:hover {
	border: 0;
	background: 0 0;
}
.Header_nav_icon__1pfDU:active > span,
.Header_nav_icon__1pfDU:focus > span,
.Header_nav_icon__1pfDU:hover > span {
	position: absolute;
}
.Header_nav_icon__1pfDU > span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #676675;
	background: var(--D8-L8);
	opacity: 1;
	right: 0;
	-webkit-transform: rotate(0);
	transform: rotate(0);
	transition: 0.25s ease-in-out;
}
.Header_nav_icon__1pfDU > span:first-child {
	top: 0;
}
.Header_nav_icon__1pfDU > span:nth-child(2),
.Header_nav_icon__1pfDU > span:nth-child(3) {
	top: 6px;
	width: 18px;
}
.Header_nav_icon__1pfDU > span:nth-child(4) {
	top: 12px;
	width: 12px;
}
.nav-list .active {
	color: #fff;
	color: var(--D7-L7);
}
.nav-list .active:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	background: #676675;
	background: var(--D8-L8);
}
@media (max-width: 992px) {
	.nav-list .active:before {
		background: linear-gradient(160deg, #05e8fc 14.34%, #fe0291 85.36%);
		background: var(--G1-G1L);
	}
}
@media (max-width: 992px) {
	.nav-list .active {
		font-weight: 600;
	}
}
.layout {
	transition: background-color 0.2s;
	background-color: #000;
	background-color: var(--D1-L1);
	color: #fff;
	color: var(--D7-L7);
	min-height: 100vh;
}
.layout main {
	padding-bottom: 50px;
}
@media (max-width: 992px) {
	.layout main {
		padding-top: 60px;
		padding-bottom: 110px;
	}
}
@media (max-width: 992px) {
	main {
		padding-bottom: 92px;
	}
}
.PriceTiles_PriceTiles__8qvTB {
	margin-bottom: 12px;
}
.PriceTiles_PriceTiles__tile__3HGxJ {
	position: relative;
	padding: 18px 14px 20px 18px;
	min-width: 270px;
	height: 100px;
	z-index: 1;
	border-radius: 5px;
}
@media (max-width: 1200px) {
	.PriceTiles_PriceTiles__tile__3HGxJ {
		margin-bottom: 20px;
		min-width: 0;
	}
}
@media (max-width: 992px) {
	.PriceTiles_PriceTiles__tile__3HGxJ {
		padding: 12px 14px 14px 18px;
		height: 84px;
	}
}
.PriceTiles_PriceTiles__tile__3HGxJ:before {
	content: '';
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(165deg, #05e8fc, #8883fa 50%, #fe0291);
	background: var(--G5-G1L);
	border-radius: 5px;
	z-index: -1;
}
.PriceTiles_PriceTiles__tile__3HGxJ:after {
	content: '';
	left: 2px;
	top: 2px;
	position: absolute;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background: #000;
	background: var(--D1-L1);
	border-radius: 4px;
	z-index: -1;
}
.PriceTiles_PriceTiles__tile__card__2XaWg {
	width: 100%;
}
.PriceTiles_PriceTiles__tile__amount__1ityA {
	margin-bottom: 6px;
}
.PriceTiles_PriceTiles__tile__title__2Ab3H {
	display: grid;
	grid-template-columns: 1fr auto;
	-webkit-align-items: center;
	align-items: center;
}
.TilesSlider .swiper-pagination {
	bottom: 0;
	top: auto;
}
.PricesSlider .swiper-pagination {
	bottom: 0;
	top: auto;
}
.EarnPage_EarnPage__sqMu9 {
	position: relative;
	padding-top: 60px;
}
@media (max-width: 992px) {
	.EarnPage_EarnPage__sqMu9 {
		padding-top: 30px;
	}
}
.EarnPage_EarnPage__userPools__1Qtyl {
	margin-bottom: 60px;
}
.EarnPage_EarnPage__tabsTitle__2g4U7 {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	margin-right: 20px;
}
@media (max-width: 1200px) {
	.EarnPage_EarnPage__tabsTitle__2g4U7 {
		margin-right: 0;
		margin-bottom: 25px;
	}
}
@media (max-width: 992px) {
	.EarnPage_EarnPage__tabsTitle__2g4U7 {
		display: grid;
		grid-template-columns: 1fr auto;
		-webkit-align-items: center;
		align-items: center;
	}
}
.EarnPage_EarnPage__tabsTitle__2g4U7 img {
	padding-right: 15px;
}
@media (max-width: 992px) {
	.EarnPage_EarnPage__tabsTitle__2g4U7 img {
		display: none;
	}
}
.EarnPage_EarnPage__tabsTitle__2g4U7 > span {
	padding-left: 12px;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
@media (max-width: 992px) {
	.EarnPage_EarnPage__tabsTitle__2g4U7 > span {
		display: none;
	}
}
body .earn-tabs {
	color: #fff;
	color: var(--D7-L7);
	overflow: visible;
}
body .earn-tabs .ant-tabs-extra-content {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
body .earn-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
	-webkit-flex: none;
	flex: none;
}
body .earn-tabs > .ant-tabs-nav .ant-tabs-nav-operations {
	display: none;
}
@media (min-width: 992px) {
	body .earn-tabs .ant-tabs-nav-wrap {
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
		-webkit-flex: none;
		flex: none;
	}
}
body .earn-tabs .ant-tabs-nav {
	margin-bottom: 30px;
	padding-bottom: 30px;
}
body .earn-tabs .ant-tabs-nav-list {
	background-color: #111117;
	background-color: var(--D4-L4);
	border-radius: 5px;
}
body .earn-tabs .ant-tabs-nav:before {
	border-color: #111117;
	border-color: var(--D16-L16);
}
@media (max-width: 1200px) {
	body .earn-tabs .ant-tabs-nav {
		display: grid;
	}
	body .earn-tabs .ant-tabs-nav-list {
		width: 100%;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
}
body .earn-tabs .ant-tabs-ink-bar {
	display: none;
}
body .earn-tabs .ant-tabs-tab {
	margin: 0;
	font-weight: 600;
	font-size: 16px;
	font-size: var(--font-size-body2);
	transition: opacity 0.5s;
	border-radius: 5px;
	padding: 0;
	min-width: 200px;
	height: 48px;
	background: #111117;
	background: var(--D4-L4);
	color: #676675;
	color: var(--D6-L6);
}
@media (max-width: 1200px) {
	body .earn-tabs .ant-tabs-tab {
		width: 100%;
	}
}
@media (max-width: 992px) {
	body .earn-tabs .ant-tabs-tab {
		min-width: 0;
	}
}
body .earn-tabs .ant-tabs-tab:after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-image: linear-gradient(90deg, #ed2391, #19cfdd);
	border-radius: 5px;
	opacity: 0;
	transition: opacity 0.5s;
}
body .earn-tabs .ant-tabs-tab > div {
	background: #111117;
	background: var(--D4-L4);
	padding: 12px;
	border-radius: 4px;
	transition: background-color 0.5s;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;
	left: 2px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
body .earn-tabs .ant-tabs-tab-active {
	background-image: linear-gradient(160deg, #05e8fc 14.34%, #fe0291 85.36%);
	background-image: var(--G1-G1L);
}
body .earn-tabs .ant-tabs-tab-active > div {
	background-color: #000;
	background-color: var(--D1-L1);
}
@media (max-width: 992px) {
	body .earn-tabs .ant-tabs-tab {
		font-size: 13px;
		font-size: var(--font-size-small);
		margin: 0;
	}
}
body .earn-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: #fff;
	color: var(--D7-L7);
}
body .earn-collapse {
	background: 0 0;
	border: 0;
}
body .earn-collapse > .ant-collapse-item {
	border: 0;
	border-radius: 20px;
	margin-bottom: 30px;
}
body .earn-collapse > .ant-collapse-item-active .ant-collapse-header span {
	color: #fff;
	color: var(--D7-L7);
	font-weight: 600;
}
body .earn-collapse > .ant-collapse-item:last-child,
body .earn-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
	border-radius: 20px;
}
body .earn-collapse > .ant-collapse-item > .ant-collapse-header {
	padding: 0;
	margin: 0;
	border-radius: 20px;
	box-shadow: 0 0 30px hsla(0, 0%, 100%, 0.08);
	z-index: 1;
}
body .earn-collapse > .ant-collapse-item > .ant-collapse-header:before {
	display: block;
	content: '';
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(160deg, #05e8fc 14.34%, #fe0291 85.36%);
	background: var(--G1-G1L);
	-webkit-filter: blur(12px);
	filter: blur(12px);
	opacity: 0;
	transition: opacity 0.3s;
}
body .earn-collapse > .ant-collapse-item > .ant-collapse-header:hover {
	z-index: 22;
}
body .earn-collapse > .ant-collapse-item > .ant-collapse-header:hover:before {
	opacity: 1;
}
body .earn-collapse > .ant-collapse-item-active > .ant-collapse-header > div {
	border-radius: 20px 20px 0 0;
}
body .earn-collapse > .ant-collapse-item-active > .ant-collapse-header:hover {
	z-index: 22;
}
body .earn-collapse > .ant-collapse-item-active > .ant-collapse-header:hover:before {
	opacity: 0;
}
body .earn-collapse > .ant-collapse-item-active .ant-collapse-content {
	border-radius: 0 0 20px 20px;
}
body .earn-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
	border: 0;
}
body .earn-collapse > .ant-collapse-item:last-child > .ant-collapse-content {
	border-top: 1px solid #111117;
	border-top: 1px solid var(--D16-L16);
}
body .earn-collapse .ant-collapse-content {
	border: 0;
	background-color: #0c0c10;
	color: #fff;
	color: var(--D7-L7);
	padding: 40px;
	position: relative;
}
body .earn-collapse .ant-collapse-content:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #676675;
	background: var(--D21-L21);
}
@media (max-width: 992px) {
	body .earn-collapse .ant-collapse-content {
		padding: 0;
		overflow: hidden;
	}
}
@font-face {
	font-family: icons;
	src: url(https://app.noava.finance/icons.a445f525.ttf) format('truetype'),
		url(https://app.noava.finance/icons.d24c13b2.woff) format('woff'),
		url(https://app.noava.finance/icons.29b3e281.woff2) format('woff2');
}
.icon-all_active_vault:before {
	content: '\f102';
}
.icon-medium:before {
	content: '\f111';
}
.icon-more:before {
	content: '\f113';
}
:root {
	--font-size-h1: 48px;
	--font-size-h2: 40px;
	--font-size-h3: 32px;
	--font-size-h4: 28px;
	--font-size-h5: 25px;
	--font-size-h6: 20px;
	--font-size-body1: 18px;
	--font-size-body2: 16px;
	--font-size-body3: 14px;
	--font-size-body4: 13px;
	--font-size-small: 13px;
	--font-size-tiny: 10px;
	--font-size-h1-m: 40px;
	--font-size-h2-m: 32px;
	--font-size-h3-m: 28px;
	--font-size-h4-m: 25px;
	--font-size-h5-m: 20px;
	--font-size-h6-m: 19px;
	--font-size-body1-m: 16px;
	--font-size-body2-m: 14px;
	--font-size-body3-m: 13px;
	--font-size-body4-m: 10px;
	--font-size-small-m: 11px;
	--line-height-heading: 1.25;
	--line-height-body: 1.25;
	--G1-G1L: linear-gradient(160deg, #05e8fc 14.34%, #fe0291 85.36%);
	--G5-G1L: linear-gradient(90deg, #0c83d3 8.4%, #f30d9b 107.98%);
	--W1-L7: #2ea5e8;
	--W2-L7: #19cfdd;
	--W2-W1: #19cfdd;
	--W3-W1: #55eed0;
	--W2-G1: #19cfdd;
	--D1-L1: #000;
	--D1-L2: #000;
	--D1-L7: #000;
	--D2-L1: #040404;
	--D4-L1: #111117;
	--D4-L2: #111117;
	--D4-L3: #111117;
	--D4-L4: #111117;
	--D4-L5: #111117;
	--D4-L6: #111117;
	--D4-L9: #111117;
	--D5-L4: #14131c;
	--D5-L5: #14131c;
	--D6-L5: #676675;
	--D6-L6: #676675;
	--D6-L7: #676675;
	--D7-L7: #fff;
	--D8-L8: #676675;
	--D9-L9: #000;
	--D10-L10: #000;
	--D11-L6: #b3b3ba;
	--D11-L11: #fff;
	--D12-L12: #14131c;
	--D13-L13: #0c0c0f;
	--D14-L14: #111117;
	--D15-L15: #23212f;
	--D16-L16: #111117;
	--D17-L17: #676675;
	--D18-L18: #040404;
	--D19-L19: #fff;
	--D20-L20: #fff;
	--D21-L21: #676675;
}
@font-face {
	font-family: Montserrat;
	src: url(https://app.noava.finance/Montserrat-Regular.3cd78665.ttf);
}
@font-face {
	font-family: Montserrat;
	font-weight: 600;
	src: url(https://app.noava.finance/Montserrat-SemiBold.fa8441f3.ttf);
}
@font-face {
	font-family: Montserrat;
	font-weight: 700;
	src: url(https://app.noava.finance/Montserrat-Bold.079ca05d.ttf);
}
@font-face {
	font-family: RedHatDisplay;
	src: url(https://app.noava.finance/RedHatDisplay-Regular.e7897cb2.ttf);
}
@font-face {
	font-family: RedHatDisplay;
	font-weight: 600;
	src: url(https://app.noava.finance/RedHatDisplay-Medium.55973a9d.ttf);
}
@font-face {
	font-family: RedHatDisplay;
	font-weight: 700;
	src: url(https://app.noava.finance/RedHatDisplay-Bold.c7f567b8.ttf);
}
body {
	margin: 0;
	font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.25;
	line-height: var(--line-height-body);
	-webkit-font-feature-settings: normal;
	font-feature-settings: normal;
	font-variant: normal;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}
a {
	color: #2ea5e8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
	color: var(--D7-L7);
	margin-bottom: 0;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}
.icon {
	display: -webkit-inline-flex;
	display: inline-flex;
}
.text-center {
	text-align: center;
}
.ant-btn {
	height: auto;
	line-height: 28px;
	font-weight: 600;
	font-size: 16px;
	font-size: var(--font-size-body2);
	padding: 6px 12px;
	border-radius: 7px;
}
@media (max-width: 992px) {
	.ant-btn {
		font-size: 14px;
		font-size: var(--font-size-body2-m);
	}
}
.ant-btn.big {
	font-size: 18px;
	font-size: var(--font-size-body1);
	line-height: 28px;
	padding: 9px 16px;
}
@media (max-width: 992px) {
	.ant-btn.big {
		font-size: 16px;
		font-size: var(--font-size-body1-m);
	}
}
.ant-btn.align-left {
	text-align: left;
}
@media (max-width: 992px) {
	.ant-btn {
		font-size: 16px;
		font-size: var(--font-size-body1-m);
	}
}
.ant-btn.button-1 {
	color: #fff;
	color: var(--D7-L7);
	padding: 2px;
	display: -webkit-inline-flex;
	display: inline-flex;
	border: none;
	background: linear-gradient(160deg, #05e8fc 14.34%, #fe0291 85.36%);
	background: var(--G1-G1L);
}
.ant-btn.button-1:active,
.ant-btn.button-1:focus,
.ant-btn.button-1:hover {
	background: linear-gradient(160deg, #05e8fc 14.34%, #fe0291 85.36%);
	background: var(--G1-G1L);
	color: #fff;
	color: var(--D19-L19);
}
.ant-btn.button-1:active > span,
.ant-btn.button-1:focus > span,
.ant-btn.button-1:hover > span {
	background-color: transparent;
}
.ant-btn.button-1[disabled] {
	color: #676675;
	color: var(--D6-L6);
}
.ant-btn.button-1[disabled],
.ant-btn.button-1[disabled] > span {
	background: #111117;
	background: var(--D4-L4);
}
.ant-btn.button-1 > span {
	background-color: #000;
	background-color: var(--D1-L1);
	padding: 6px 12px;
	border-radius: 6px;
	transition: background-color 0.5s;
	width: 100%;
}
@media (max-width: 992px) {
	.ant-btn.button-1 > span {
		padding: 9px 10px;
	}
}
.ant-btn.button-1.big > span {
	padding: 9px 16px;
}
@media (max-width: 992px) {
	.ant-btn.button-1.big > span {
		padding: 9px 12px;
	}
}
.ant-btn.button-1.connect:not(:hover):not(:focus):not(:active) > span {
	background: #000;
	background: var(--D1-L2);
}
@media (max-width: 992px) {
	.ant-btn.button-1.connect {
		font-size: 14px;
		font-size: var(--font-size-body3);
	}
}
.ant-btn.button-2 {
	position: relative;
	color: #fff;
	display: -webkit-flex;
	display: flex;
	border: none;
	padding: 1px;
	background-image: linear-gradient(160deg, #05e8fc 14.34%, #fe0291 85.36%);
	background-image: var(--G1-G1L);
	transition: opacity 0.5s;
}
.ant-btn.button-2:after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-image: linear-gradient(90deg, #ed2391, #19cfdd);
	border-radius: 7px;
	opacity: 0;
	transition: opacity 0.5s;
}
.ant-btn.button-2:active,
.ant-btn.button-2:focus,
.ant-btn.button-2:hover {
	color: #fff;
}
.ant-btn.button-2:active:after,
.ant-btn.button-2:focus:after,
.ant-btn.button-2:hover:after {
	opacity: 1;
}
.ant-btn.button-2[disabled] {
	color: #676675;
	color: var(--D6-L6);
}
.ant-btn.button-2[disabled],
.ant-btn.button-2[disabled] > span {
	background: #111117;
	background: var(--D4-L4);
}
.ant-btn.button-2 > span {
	position: relative;
	z-index: 1;
	width: 100%;
	padding: 6px 12px;
	border-radius: 7px;
}
@media (max-width: 992px) {
	.ant-btn.button-2 > span {
		padding: 9px 10px;
	}
}
.ant-btn.button-2.big > span {
	padding: 9px 16px;
}
@media (max-width: 992px) {
	.ant-btn.button-2.big > span {
		padding: 9px 12px;
	}
}
.ant-btn.button-3 {
	position: relative;
	color: #676675;
	color: var(--D6-L6);
	display: -webkit-flex;
	display: flex;
	border: none;
	padding: 1px;
	background: #111117;
	background: var(--D4-L4);
	transition: opacity 0.5s;
}
.ant-btn.button-3 > span {
	position: relative;
	z-index: 1;
	width: 100%;
	padding: 6px 12px;
	border-radius: 7px;
}
@media (max-width: 992px) {
	.ant-btn.button-3 > span {
		padding: 9px 10px;
	}
}
.ant-btn.button-3 :hover {
	background: linear-gradient(to right, #30cfd0 0, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.ant-btn.button-3.big > span {
	padding: 9px 16px;
}
@media (max-width: 992px) {
	.ant-btn.button-3.big > span {
		padding: 9px 12px;
	}
}
.ant-menu-item-selected:after,
[ant-click-animating-without-extra-node]:after {
	-webkit-animation: none;
	animation: none;
}
@-webkit-keyframes rotate {
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@keyframes rotate {
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 15, 300;
		stroke-dashoffset: 320;
	}
	to {
		stroke-dasharray: 150;
		stroke-dashoffset: 0;
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 15, 300;
		stroke-dashoffset: 320;
	}
	to {
		stroke-dasharray: 150;
		stroke-dashoffset: 0;
	}
}
